.container {
  display: flex;
  justify-content: center;
}

.cards {
  flex: 0 1 630px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 15px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: dodgerblue;
  color: white;
  height: 150px;
}